.progress-bar{
    position: relative;
    height: 20px;
    width: fit-content;
    border-radius: 50px;
    border: 1px solid blue
}

.filler {
    background: green;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}