

*, html {
    margin:0;
    padding:0;  
}
.holder{
  display:grid;
  gap: 5px;
}

.main{
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 1rem;


    
}

.main-menu{
    height: 100vh;
    grid-column: 1/2;
    min-height: 100%;
    background-color: black;

}
.main-content{
    grid-column: 2/3;
}
.container{
    margin-right: 5%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: minmax(40%,40%) minmax(20%,20%)  minmax(20%,30%)  minmax(20%,10%) ;
    grid-auto-rows: repeat(auto,minmax(100px,auto-fit)) ;
    gap: 1px;
}

.item2{
    display: flex;
    border: 1px;
    border-style: solid;
            border-color:rgb(3, 68, 57) ;

        padding: 5px;
    flex-direction: row;
    justify-content: space-between;
}



.item3-container{
    border-color: orange ;
    border: 1px;
    border-style: solid;
    padding: 5px;

}
.item4-container{
        grid-column: 4/5 ;
        border-color: purple ;
    border: 1px;
    border-style: solid;
        padding: 5px;


} 


.subitem1-container {
    margin:10px;
    border: 1px;
    border-style: solid;
            border-color:teal ;

        padding: 5px;


}

